---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Hero from "@/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "@/components/Badge.astro";
import Button from "@/components/Button.astro";
import ButtonCallUs from "@/components/ButtonCallUs.astro";
import Grid from "@/components/Grid.astro";
import Heading from "@/components/Heading.astro";
import WideImage from "@/components/WideImage.astro";
import ReviewSlider from "@/components/ReviewSlider.astro";

// Images
import ExterieurImage from "@/assets/images/exterieur.jpeg";
import Exterieur2Image from "@/assets/images/exterieur-2.jpeg";
import Exterieur3Image from "@/assets/images/vue-de-face.jpg";
import Exterieur4Image from "@/assets/images/vue-d-ensemble.jpg";
import InterieurImage from "@/assets/images/interieur.jpeg";
import VerandaImage from "@/assets/images/veranda.jpg";
import ReceptionImage from "@/assets/images/reception-hotel-et-restaurant.jpg"
import Reception2Image from "@/assets/images/reception-hotel-et-restaurant-2.jpg";
import PetitDejImage from "@/assets/images/salle-de-petit-dejeuner.jpg";
import SalleJauneImage from "@/assets/images/salle-jaune-16-couverts.jpg";
import TerrasseImage from "@/assets/images/terrasse-et-jardiniere.jpg";
import AccompagnementImage from "@/assets/images/accompagnements-aperitifs.jpg";
import ChambreImage from "@/assets/images/hotel-restaurant-la-goutte-chambre.jpg";
import PlatImage from "@/assets/images/la-goutte-noire.jpg";
import BuffetImage from "@/assets/images/desserts-de-mariage-sur.jpg";
import { phone, siteSlogan } from "@/data/config";
import { Coffee, Mail, MapPin, Phone, Utensils } from "@lucide/astro";
import { Check } from "lucide-react";
---

<Layout title="Accueil" pageTitle="Accueil" description="Bienvenue dans notre restaurant !">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Chrystèle &amp; Christophe Boudeau" />
				<h1 class="font-black">Bienvenue à la Goutte Noire</h1>

				<p>
					Au cœur de Châteaumeillant, La Goutte Noire vous ouvre ses portes dans une ambiance conviviale et authentique. Hôtel, restaurant et traiteur familial, notre maison vous propose une cuisine généreuse et raffinée, inspirée des produits du terroir et de la passion du chef Christophe Boudeau. Que ce soit pour un repas en tête-à-tête, un séjour au calme ou un événement à célébrer, nous vous accueillons avec le souci du détail et l’amour du métier.
				</p>

				<div class="flex gap-4 flex-wrap max-w-[80%]">
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Service à table</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Plats à emporter</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Traiteur</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Coffee size={28} /> Petit déjeuner</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Utensils size={28} /> Déjeuner</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Utensils size={28} /> Diner</span>
				</div>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url={phone.href}>Réserver</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-xl"}
					src={Exterieur4Image}
					height={800}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
				<div class="mt-4 inline-flex items-center gap-2">
					<MapPin class="text-brand-red" size={32} />
					<address>21 rue du Château, 18370 Châteaumeillant, France</address>
				</div>
			</div>
		</Hero>
	</Section>

	<WideImage image={InterieurImage} alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Confort" />
				<h2 class="font-black h2 !my-4">L'Hôtel</h2>

				<span class="text-brand-red text-2xl font-bold italic">
					Un séjour confortable au cœur du Berry
				</span>

				<p>
					Pour une étape paisible ou un séjour au vert, La Goutte Noire vous propose 7 chambres confortables et accueillantes, dont des chambres familiales. Chaque chambre est équipée de tout le nécessaire pour votre confort : salle de bains privative, télévision, wifi, et literie de qualité. Le petit déjeuner, servi en salle ou en terrasse aux beaux jours, complète ce moment de détente au cœur du Berry.
				</p>

				<div class="flex gap-4 flex-wrap max-w-[80%]">
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Petit-déjeuner</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> WIFI</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Parking privé</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Animaux accepté</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Service de chambre</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Reception ouverte 24h/24</span>
				</div>

				<div class="mt-8">
					<Button color="red" url="/hotel">Voir plus</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-xl"}
					src={ChambreImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-right" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Gastronomie" />
				<h2 class="font-black h2 !my-4">Le Restaurant</h2>

				<span class="text-brand-red text-2xl font-bold italic">
					Une cuisine de saison, raffinée et généreuse
				</span>

				<p>
					Dans une ambiance chaleureuse et soignée, Chrystèle et Christophe Boudeau vous proposent une cuisine de saison, raffinée et généreuse, inspirée des produits du terroir. Trois menus vous sont proposés, alliant tradition et créativité, pour satisfaire toutes les envies. Que ce soit pour un déjeuner en semaine ou un dîner plus festif, chaque assiette est pensée avec passion et précision.
				</p>

				<div class="flex gap-4 flex-wrap max-w-[80%]">
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Prix moyen : 56€</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Cuisine française</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Animaux accepté</span>
				</div>

				<div class="mt-8">
					<Button color="red" url="/menu">Voir le menu</Button>
				</div>
			</div>
			<div slot="hero-content-left">
				<Picture
					class:list={"mx-auto rounded-xl"}
					src={PlatImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Traiteur" />
				<h2 class="font-black h2 !my-4">Service traiteur</h2>

				<span class="text-brand-red text-2xl font-bold italic">
					Des prestations sur mesure pour vos événements
				</span>

				<p>
					Pour vos réceptions, mariages, événements familiaux ou professionnels, La Goutte Noire propose un service traiteur sur mesure. Chrystèle et Christophe Boudeau mettent leur savoir-faire à votre service avec une cuisine maison, soignée et généreuse. Buffet, repas à l’assiette, cocktails dînatoires ou plateaux repas : chaque prestation est adaptée à vos envies, avec la même exigence de qualité que dans notre restaurant.
				</p>

				<div class="flex gap-4 flex-wrap max-w-[80%]">
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Menu personnalisé</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Dégustaion prélable</span>
					<span class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Check size={28} /> Service</span>
				</div>

				<div class="mt-8">
					<Button color="red" url="/catering">En savoir plus</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-xl"}
					src={BuffetImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={"bg-brand-red/80 relative"}>
		<div class="py-16">
			<div class="prose mx-auto max-w-4xl order-2">
				<div class="text-center not-prose">
					<Badge color="white" title="Les avis" />
				</div>
				<h2 slot="heading-title" class="font-black text-white h4 text-center mt-0 mb-4">Ce que disent nos clients...</h2>
				<div slot="heading-content">
					<p class="text-center text-white">
						Ne nous croyez pas sur parole. Lisez ce que nos clients ont à dire sur leur expérience dans notre restaurant.
					</p>

					<ReviewSlider />
				</div>
			</div>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full -top-0.5 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="Contact" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 !my-4">Passez nous voir ou contactez nous</h2>
				<div slot="heading-content">
					<p>
						Nous sommes situés au cœur de la ville, à deux pas de la place principale. Notre restaurant est l'endroit idéal pour déguster un délicieux repas entre amis et en famille.
					</p>

					<div class="flex gap-4 flex-wrap max-w-[80%]">
						<a href="tel:+33 2 48 96 98 87" class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Phone size={28} /> 02 48 96 98 87</a>
						<a href="mailto:lagouttenoire@orange.fr" class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><Mail size={28} /> lagouttenoire@orange.fr</a>
						<address class="inline-flex gap-2 text-brand-green font-medium whitespace-nowrap"><MapPin size={28} /> 21 rue du Château, 18370 Châteaumeillant, France</address>
					</div>

					<div class="mt-8">
						<Button color="red" url="/book">Réserver une table</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<iframe class="w-full rounded-xl" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2743.311652341073!2d2.1919017!3d46.561302!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fa41befe3289b5%3A0x96f82e4d10618d0b!2sLa%20Goutte%20Noire!5e0!3m2!1sfr!2sfr!4v1752405101543!5m2!1sfr!2sfr" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</Hero>
	</Section>
</Layout>
