---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import ExterieurImage from "~/assets/images/exterieur.jpeg";
import Exterieur2Image from "~/assets/images/exterieur-2.jpeg";
import Exterieur3Image from "~/assets/images/vue-de-face.jpg";
import Exterieur4Image from "~/assets/images/vue-d-ensemble.jpg";
import InterieurImage from "~/assets/images/interieur.jpeg";
import VerandaImage from "~/assets/images/veranda.jpg";
import ReceptionImage from "~/assets/images/reception-hotel-et-restaurant.jpg"
import Reception2Image from "~/assets/images/reception-hotel-et-restaurant-2.jpg";
import PetitDejImage from "~/assets/images/salle-de-petit-dejeuner.jpg";
import SalleJauneImage from "~/assets/images/salle-jaune-16-couverts.jpg";
import TerrasseImage from "~/assets/images/terrasse-et-jardiniere.jpg";
import AccompagnementImage from "~/assets/images/accompagnements-aperitifs.jpg";
import { phone, siteSlogan } from "~/data/config";
---

<Layout title="Accueil" pageTitle="Accueil" description="Bienvenue dans notre restaurant !">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Chrystèle et Christophe Boudeau" />
				<h1 class="font-black">Une restauration traditionnelle et gastronomique...</h1>

				<p>{siteSlogan}</p>

				<span class="text-brand-green font-medium">✔ Plats à emporter</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url={phone.href}>Réserver</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto crop"}
					src={Exterieur4Image}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={InterieurImage} alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Nos plats</h2>
			<p slot="heading-content">
				Découvrez notre sélection de plats italiens authentiques, des pizzas classiques aux pâtes maison.
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={InterieurImage}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Pâtes &amp; Spaghetti</h3>
					<p>
						Les pâtes sont un élément de base de la cuisine italienne, avec une riche histoire remontant à plusieurs siècles. Elles se déclinent en diverses formes et tailles, chacune adaptée à différentes sauces et préparations.
					</p>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={InterieurImage}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Pâtes &amp; Spaghetti</h3>
					<p>
						Les pâtes sont un élément de base de la cuisine italienne, avec une riche histoire remontant à plusieurs siècles. Elles se déclinent en diverses formes et tailles, chacune adaptée à différentes sauces et préparations.
					</p>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={InterieurImage}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Pâtes &amp; Spaghetti</h3>
					<p>
						Les pâtes sont un élément de base de la cuisine italienne, avec une riche histoire remontant à plusieurs siècles. Elles se déclinent en diverses formes et tailles, chacune adaptée à différentes sauces et préparations.
					</p>
				</div>
			</div>
		</Grid>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="font-black">Pizza</h1>

				<p>
					La pizza est un plat bien-aimé originaire d'Italie qui est depuis devenu une sensation mondiale. Sa polyvalence permet des combinaisons infinies de garnitures, de la classique margherita avec des tomates fraîches, de la mozzarella et du basilic, à des options plus audacieuses comme le poulet barbecue ou le fromage végétalien.
				</p>

				<p>
					Qu'elle soit dégustée dans une pizzeria chaleureuse ou livrée à votre porte, la pizza rassemble les gens et satisfait les envies comme aucun autre aliment. Au-delà de son goût délicieux, la pizza revêt également une importance culturelle. Elle est souvent associée aux rassemblements, aux célébrations et au réconfort.
				</p>

				<div class="mt-8">
					<Button url="/menu">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						Voir le menu
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={InterieurImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="délicieux" />
				<h2 class="font-black h2 !my-4">Plat de la semaine</h2>

				<span class="text-brand-red text-2xl font-bold italic">Moules fraîches !</span>

				<p>
					Notre plat de la semaine est un délicieux mets qui change chaque semaine. Cette semaine, nous proposons des moules fraîches cuites dans une sauce au vin blanc et à l'ail, servies avec une portion de frites croustillantes. Ne manquez pas cette offre à durée limitée !
				</p>

				<div class="mt-8">
					<Button color="red" url={phone.href}>Réserver</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={InterieurImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={"bg-brand-red/80 relative"}>
		<div class="py-16">
			
			<div class="prose mx-auto max-w-4xl order-2">
				<div class="text-center not-prose">
					<Badge color="white" title="Les avis" />
				</div>
				<h2 slot="heading-title" class="font-black text-white h4 text-center mt-0 mb-4">Ce que disent nos clients...</h2>
				<div slot="heading-content">
					<p class="text-center text-white">
						Ne nous croyez pas sur parole. Lisez ce que nos clients ont à dire sur leur expérience dans notre restaurant.
					</p>

					<ReviewSlider />
				</div>
			</div>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Desserts -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge title="dolce" />
				<h2 slot="heading-title" class="font-black text-brand-green h2 !my-4">Desserts</h2>
				<div slot="heading-content">
					<p>
						Délectez-vous de notre sélection de douceurs, du tiramisu classique au gâteau au chocolat décadent. Nos desserts sont la façon parfaite de terminer votre repas en beauté.
					</p>

					<p>
						Découvrez le goût de l'Italie avec nos plats authentiques préparés à partir des meilleurs ingrédients. Savourez notre grande variété de pizzas, de pâtes et de desserts, tous élaborés avec amour et tradition. Que vous dîniez sur place ou emportiez votre repas, nous vous promettons une expérience culinaire mémorable.
					</p>

					<div class="mt-8">
						<Button url="/menu">Voir notre menu</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={InterieurImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="bienvenue" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 !my-4">Passez nous voir et dites bonjour</h2>
				<div slot="heading-content">
					<p>
						Nous sommes situés au cœur de la ville, à deux pas de la place principale. Notre restaurant est l'endroit idéal pour déguster un délicieux repas entre amis et en famille.
					</p>

					<span class="text-brand-red font-medium">
						✔ Nous proposons également des plats à emporter, afin que vous puissiez déguster votre repas à la maison.
					</span>

					<div class="mt-8">
						<Button color="red" url="/book">Réserver une table</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={InterieurImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>
</Layout>
